@font-face {
  font-family: yekan;
  src: url(/Fonts/Yekan.ttf);
}

body {
  background-color: black;
  font-family: yekan;
  direction: rtl;
  margin: 0;
  padding-right: 15px;
  padding-top: 0;
  font-size: 13px;
}

input {
  height: 23px;
  width: 125px;
  font-family: yekan;
}

/* input,
textarea,
select {
  border: none;
  border-color: transparent;
} */

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.btn {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#hide {
  width: 150px;
  padding: 5px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

#generate {
  width: 150px;
  padding: 5px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.pdfbody {
  position: relative;
  left: -50%;
  transform: translate(50%, 0);
  background-color: white;
  padding: 15px;
  padding-right: 30px;
  padding-left: 45px;
  width: 210mm;
  height: 305mm;
  border: solid 1px;
}

#title {
  font-size: 25px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.details {
  height: 150px;
}

.details .right {
  font-size: 12px;
  position: relative;
  float: right;
  width: 53%;
}

.right #manufacturName {
  font-size: 18px;
}

.right .manufacturTel {
  margin-bottom: 5px;
}

.right .financeCode {
  width: 35px;
  position: relative;
  top: 5px;
  padding: 7px;
  border: 1px solid;
  border-radius: 4px;
}

.right .police {
  position: relative;
  top: 17px;
}

.details .left {
  position: relative;
  float: left;
  width: 45%;
  font-size: 12px;
}

#motorVerificionCode,
#cardexVerificionCode {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 245px;
  padding: 3px;
  border: 1px solid;
  border-radius: 4px;
}

#cardexVerificionCode {
  position: relative;
  top: 7px;
}

.confirmation {
  position: relative;

  height: 120px;
}

.confirmation .right {
  /* border: 1px solid red; */
  height: 80px;
  width: 69.4%;
  float: right;
}

.confirmation .right .conr {
  position: relative;
  top: 15px;
}

.confirmation .right .conr2 {
  position: relative;
  top: 25px;
}

.confirmation .right .one {
  /* border: 1px solid red; */
  height: 80px;
  width: 43%;
  float: right;
}
.confirmation .right .two {
  /* border: 1px solid red; */
  height: 80px;
  width: 29%;
  float: right;
}

.confirmation .right .three {
  /* border: 1px solid red; */
  height: 80px;
  width: 28%;
  float: left;
}

.confirmation .left {
  /* border: 1px solid red; */
  height: 80px;
  width: 30%;
  float: left;
}

.left #circle {
  position: relative;
  float: left;
  text-align: center;
  left: 30px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
}

.left #circle #circleText {
  position: relative;
  top: 20px;
}

.left #rect {
  float: left;
  left: 0px;
  position: relative;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  height: 75px;
  width: 125px;
  display: inline-block;
}

.left #rect #rectText {
  position: relative;
  top: 55px;
}

.motorDetails {
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 4px;
  height: 235px;
}

.motorDetails .right {
  border-left: 1px solid black;
  width: 17%;
  height: inherit;
  float: right;
}

.motorDetails .right .top {
  border-bottom: 1px solid black;
  height: 55%;
}

.motorDetails .right .top .rect {
  position: relative;
  top: 15px;
  right: 20px;
  width: 105px;
  height: 75px;
  border: 1px solid;
  border-radius: 4px;
  display: inline-block;
}

.motorDetails .right .top .rect2 {
  position: relative;
  float: left;
  width: 40px;
  height: 25px;
  background-color: black;
  border-radius: 4px;
  display: inline-block;
}

.motorDetails .right .down #date {
  position: relative;
  left: -5px;
  top: 10px;
}

.motorDetails .left input {
  width: 200px;
}

.motorDetails .left .rightL {
  padding: 10px;
  position: relative;
  float: right;
  width: 40%;
}

.motorDetails .left .rightL span {
  display: inline-block;
  padding-top: 5px;
}

.motorDetails .left .leftL {
  padding: 10px;
  position: relative;
  float: right;
}

.motorDetails .left .leftL span {
  display: inline-block;
  padding-top: 5px;
}

.extra {
  position: relative;
  top: 15px;
  height: 75px;
  border: 1px solid;
  border-radius: 4px;
}

.buyerDetails .salerInfo {
  position: relative;
  top: 30px;
  height: 135px;
  border: 1px solid;
  border-radius: 4px;
}

.buyerDetails .salerInfo .top {
  padding: 10px;
  position: relative;
  height: 60%;
}

.buyerDetails .salerInfo .top #nationalId {
  position: relative;
  float: left;
  left: 25px;
}

.buyerDetails .salerInfo .top #address {
  position: relative;
  top: -35px;
}

.buyerDetails .salerInfo .top #addressTxt {
  font-family: yekan;
  position: relative;
  top: 5px;
  width: 450px;
  height: 53px;
}

.buyerDetails .salerInfo .down span {
  position: relative;
  right: 10px;
  margin-left: 10%;
}

.buyerDetails .personalInfo {
  position: relative;
  top: 45px;
  height: 155px;
  border: 1px solid;
  border-radius: 4px;
}

.buyerDetails .personalInfo .right {
  top: 10px;
  right: 15px;
  position: relative;
  width: 70%;
  height: inherit;
  float: right;
}

.buyerDetails .personalInfo .right #mobile {
  position: relative;
  right: 75px;
}

.buyerDetails .personalInfo .right #address input {
  position: relative;
  width: 425px;
}

.buyerDetails .personalInfo .left {
  top: 10px;
  left: 15px;
  position: relative;
  height: inherit;
  float: left;
}

.buyerDetails .personalInfo .left #telephone {
  position: relative;
  top: 45px;
}

.finalazation {
  position: relative;
  top: 60px;
  height: 145px;
  border: 1px solid;
  border-radius: 4px;
}

.finalazation .right {
  width: 28%;
  height: inherit;
  float: right;
  border-left: 1px solid black;
}

.finalazation .right span {
  padding: 10px;
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
}

.finalazation .left {
  height: inherit;
}

.finalazation .left span {
  padding: 10px;
  padding-left: 115px;
  position: relative;
  display: inline-block;
}
