
@{
    ViewBag.Title = "PDF-Generator";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/ebaak.css">
    <link rel="stylesheet" href="~/Content/persianDatepicker-default.css" />
</head>
<body>
    <div class="container">
        <div class="btn">
            <button id="hide" style="font-family: yekan; margin-bottom: 15px;"> پنهان/ظاهر کردن اینپوت ها</button>
            <button id="generate" style="font-family: yekan; margin-bottom: 15px;"> جنریت فایل PDF</button>
            <select class="documentNo">
            </select>
        </div>

        <div class="pdfbody">
            <div id="title">سند فروش موتور سیکلت تولید داخل</div>
            <div class="details">
                <div class="right">
                    <img class="logo" src="~/Content/logo.svg" />
                    <span id="manufacturName">شرکت ستاره و صنعت معدن البرز (سهامی خاص)</span><br>
                    <span class="manufacturAddress">دفتر مرکزی:تهران-سید خندادن-خیابان شریعتی<br>خیابان جلفا-کوجه دانش-پلاک 17</span><br>
                    <span class="manufacturTel">تلفن:22877082-021 کد پستی:1541693633</span><br>
                    <span class="financeCode">کد اقتصادی:<input id="eccCode" type="text" style="width: 125px;"></span><br>
                    <span class="police">پلیس راهنمایی رانندگی:<input id="police" type="text" style="width: 125px;"></span>
                </div>


                <div class="left">
                    <span>تاریخ:<input id="date"></span><br>
                    <span id="documentNumber">شماره سند:<input id="docNo"></span><br>
                    <span id="motorVerificionCode">شماره مجوز موتور سیکلت:<input id="mVerCode"></span><br>
                    <span id="cardexVerificionCode">شماره مجوز کاردکس:<input id="cardexCode"></span><br>
                </div>
            </div>

            <div class="confirmation">
                <span id="text">
                    احتراما به اطلاع میرساند این شرکت یک دستگاه موتور سیکلت را با مشخصات مندرج در این سند به نامبرده زیر واگذار نموده و کلیه حقوق دولتی و عوارض قانونی متعلقه پرداخت گردیده است.
                </span><br>
                <div class="right">
                    <div class="one">
                        <span class="conr">1.نام و نام خانوادگی:<input class="nameA" type="text"></span><br>
                        <span class="conr2">2.نام و نام خانوادگی:<input class="nameA" type="text"></span>
                    </div>

                    <div class="two">
                        <span class="conr">سمت:<input class="postA" type="text"></span><br>
                        <span class="conr2">سمت:<input class="postA" type="text"></span>
                    </div>

                    <div class="three">
                        <span class="conr">مهر و امضا</span><br>
                        <span class="conr2">مهر و امضا</span>
                    </div>

                </div>

                <div class="left">
                    <span id="rect"><span id="rectText">محل درج مهر برجسته</span></span>
                    <span id="circle"><span id="circleText">محل الصاق<br> هلوگرام</span></span>
                </div>

            </div>

            <div class="motorDetails">
                <span id="detailsSpan">مشخصات موتور سیکلت</span>
                <div class="right">
                    <div class="top">
                        <span style="padding: 10px;position: relative;top: 20px;">شماره پلاک:</span>
                        <span class="rect">
                            <input id="plateNo" />
                            <span class="rect2">
                                <input id="cityNo" />
                            </span>
                        </span>
                    </div>

                    <div class="down">
                        <span style="position: relative; left: -5px;top: 5px;">تاریخ نصب:</span><br>
                        <input id="dateD" type="text">
                    </div>
                </div>

                <div class="left">
                    <div class="rightL">
                        <span>
                            نـوع کاربــری:
                            <input id="kind" type="text">
                        </span><br>

                        <span>
                            ســـیــســتـم:
                            <input id="system" type="text">
                        </span><br>


                        <span>
                            تـــــیــــــــپ:
                            <input id="type" type="text">
                        </span><br>


                        <span>
                            رنـــــــــــــگ:
                            <input id="motorColor" type="text">
                        </span><br>


                        <span>
                            مـــــــــــــدل:
                            <input id="model" type="text">
                        </span><br>


                        <span>
                            شمــاره تـنـه:
                            <input id="bodyNo" type="text">
                        </span><br>

                        <span>
                            شماره موتور:
                            <input id="engineNo" type="text">
                        </span><br>



                    </div>
                    <div class="leftL">

                        <span>
                            تــعــداد مـحور:
                            <input id="axis" type="text">
                        </span><br>


                        <span>
                            تــعــداد چــرخ:
                            <input id="wheels" type="text">
                        </span><br>


                        <span>
                            ظــــرفـــــیــت:
                            <input id="capacity" type="text">
                        </span><br>


                        <span>
                            تعداد سیلنـدر:
                            <input id="cyl" type="text">
                        </span><br>


                        <span>
                            نـــوع سـوخـت:
                            <input id="fuel" type="text">
                        </span><br>

                        <span>
                            حجم سـیلـنـدر:
                            <input id="vol" type="text">
                        </span><br>

                    </div>
                </div>
            </div>

            <div class="extra">
                <span id="extraSpan">توضیحات</span>
                <textarea></textarea>
            </div>

            <div class="buyerDetails">
                <span id="buyerSpan">مشخصات عامل فروش</span>

                <div class="salerInfo">
                    <div class="top">
                        <span id="name">
                            نام و نام خانوادگی (شخص حقیقی/حقوقی):
                            <input id="sName" type="text">
                        </span>

                        <span id="nationalId">
                            شماره ملی:<input type="text" id="sNat">
                        </span><br>

                        <span id="address">
                            آدرس و کد پستی:
                        </span>
                        <textarea id="addressTxt">
    
                    </textarea><br>



                    </div>

                    <div class="down">
                        <span id="mobile">
                            تلفن همراه:
                            <input id="sMob" type="text">
                        </span>

                        <span id="telephone">
                            تلفن ثابت:
                            <input id="sTel" type="text">
                        </span>

                        <span id="sig">
                            مهر و امضای عامل فروش:
                        </span>
                    </div>



                </div>
                <div class="personalInfo">

                    <div class="right">
                        <span id="name">
                            نام و نام خانوادگی:
                            <input id="bName" type="text">
                        </span><br>

                        <span id="fatherName">
                            نام پدر:
                            <input type="text">
                        </span><br>

                        <span id="birthLocation">
                            محل ثبت/تولد:
                            <input type="text">
                        </span><br>

                        <span id="nationalId">
                            شماره شناسنامه/ملی:
                            <input type="text">
                        </span><br>

                        <span id="address">
                            آدرس محل سکونت:
                            <input style="width:420px !important" type="text">
                        </span><br>

                        <span id="postalCode">
                            کد پستی:
                            <input type="text">
                        </span>

                        <span id="mobile">
                            تلفن همراه:
                            <input type="text">
                        </span><br>


                    </div>

                    <div class="left">
                        <span>
                            تاریخ ثبت/تولد:
                            <input id="birthDate"s type="text">
                        </span><br>

                        <span id="nationalId2">
                            شماره شناسنامه/ثبت:
                            <input type="text">
                        </span><br>

                        <span id="birthLocation2">
                            محل صدور:
                            <input type="text">
                        </span><br>

                        <span id="telephone">
                            تلفن ثابت:
                            <input type="text">
                        </span><br>

                    </div>

                </div>

            </div>

            <div class="finalazation">
                <div class="right">
                    <span id="comments">
                        نظریه کارشناسان مالی تصادف و امور فنی:
                    </span>

                    <span>
                        1.مهر و امضا:
                    </span><br>

                    <span>
                        2.مهر و امضا:
                    </span>
                </div>

                <div class="left">
                    <span>
                        مهر و امضاء متصدی شماره گذاری:
                    </span>

                    <span>
                        مهر و امضاء رئیس شماره گذاری:
                    </span>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/persianDatepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#hide").on('click', function () {
                let a = $("#bodyNo").css("border-color").toLowerCase();
                let b = 'rgba(0, 0, 0, 0)';

                if (a == b) {
                    $("input,textarea,select").css("border", "1px solid");
                    $("input,textarea,select").css("border-color", "rgb(118, 118, 118)");
                    $("input,textarea,select").css("border-radius", "4px");
                }
                else {
                    $("input,textarea,select").css("border-color", "transparent");
                }


            });


            $('#generate').click(function () {
                $("input,textarea,select").css("border-color", "transparent");
                $(".btn").css('display', 'none');
                window.print();
                location.reload();
            });


            $('.documentNo').find('option').remove().end();
                $.ajax({
                    url: '@Url.Action("FillOption", "Application")',
                    type: "GET",
                    success: function (result) {
                        list = JSON.parse(result);
                        $.each(list, function (idx, obj) {
                            var name = obj.F11;
                            var newRow = "<option><span>" + name + "</span></option>";
                            $(".documentNo").append(newRow);
                        });
                    },
                    error: function (err) {
                        alert("خطا در انجام عملیات" + "\n" + "لطفاَ مجدد تلاش کنید" + "\n" + err.responseText);
                    }
                });


            $('.documentNo').on('change', function (e) {
                var selected = this.value;
                $.ajax({
                    url: '@Url.Action("GetData", "Application")',
                    data: { search: selected },
                    type: "GET",
                    success: function (result, obj) {
                        $("#bodyNo").val(result.BodyNo);
                        $("#model").val(parseInt(result.BuildYear));
                        $("#cityNo").val("-" + parseInt(result.CityNo));
                        $("#mVerCode").val(result.Code);
                        $("#motorColor").val(result.Color);
                        $("#docNo").val(result.DocumentNo);
                        $("#engineNo").val(result.EngineNo);
                        $("#kind").val(result.MotorKind);
                        $("#plateNo").val(parseInt(result.PlateNo));
                        $("#system").val(result.System);
                        $("#type").val(result.Type);

                        $("#cardexCode").val(result.CardexCode);
                        $("#eccCode").val(result.EconomicCode);
                        $("#police").val(result.Police);
                        $(".nameA").val(result.Name);
                        $(".postA").val(result.Post);
                        $("#wheels").val(result.Wheels);
                        $("#axis").val(result.Axis);
                        $("#capacity").val(result.Capacity);
                        $("#cyl").val(result.Cylender);
                        $("#fuel").val(result.Fuel);
                        $("#vol").val(result.Volume);
                        $("#sName").val(result.SellerName);
                        $("#sNat").val(result.NationalId);
                        $("#addressTxt").val(result.Address);
                        $("#sMob").val(result.Mobile);
                        $("#sTel").val(result.Telephone);
                    },
                    error: function (err) {
                        alert("خطا در انجام عملیات" + "\n" + "لطفاَ مجدد تلاش کنید" + "\n" + err.responseText);
                    }
                });


            });

            $("#birthDate,#date,#dateD").persianDatepicker();



        });

    </script>

</body>
</html>
